page-login {
    ion-content{
        text-align: center;
    }
    button{
        margin-top: 70px !important;
        background-color: #d34836 !important;
        position: absolute;
        bottom: 20px;

    }
    ion-icon{
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid white;
    }
    div{
        margin-top: 70px;
    }
    span.i{
        color: #488aff;
    }
    span.todo{
        color: grey;
    }
    img{
        width: 150px;
        margin: 0 auto;
    }
}
