page-popover {
    .user-avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    h3{
        display: inline;
        position: absolute;
        right: 75px;
        top: 25px;
    }
}
